{% extends "base.html.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <img src="../images/logo.png" alt="Logo">
            <div class="notification is-link">Stand or Hit?</div>
            <form action="/results.php" method="get">
                <table class="table is-striped">
                    <tboby>
                        <tr class="has-text-weight-bold">
                            <td>DEALER</td>
                            <td>
                                {% for card in dealer.hand.cards %}
                                    <img width = "100pt" src="{{ card.image }}" alt="">
                                {% endfor %}
                            </td>
                            <td>{{ dealer.hand.value }}</td>
                            <td></td>
                            <td></td>
                            <td>
                                {% if dealer.hand.value == 21 %}
                                    <div class="notification is-success">Black Jack</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Box</th>
                            <th>Hand</th>
                            <th>Value</th>
                            <th>Bet</th>
                            <th>Action</th>
                            <th>Info</th>
                        </tr>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.name }}</td>
                                <td>
                                    {% for card in player.hand.cards %}
                                        <img width = "100pt" src="{{ card.image }}" alt="">
                                    {% endfor %}
                                </td>
                                <td>{{ player.hand.value }}</td>
                                <td>{{ player.bet }}</td>
                                <td>
                                    {% if player.hand.value >= 21 %}
                                        <div class="control">
                                            <label class="radio" disabled>
                                                <input type="radio" name="isHitStand{{ player.name }}" value="stand" disabled>
                                                Stand
                                            </label>
                                            <label class="radio" disabled>
                                                <input type="radio" name="isHitStand{{ player.name }}" value="hit" disabled>
                                                Hit
                                            </label>
                                        </div>
                                    {% else %}
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="isHitStand{{ player.name }}" value="stand" checked>
                                                Stand
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="isHitStand{{ player.name }}" value="hit">
                                                Hit
                                            </label>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if player.hand.value == 21 %}
                                        <div class="notification is-success">Black Jack</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
                <div class="buttons">
                    <button class="button is-link" type="submit">Action</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}