<!doctype html>
<html lang="de">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Black Jack</title>
        <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
        <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
