{% extends "base.html.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <img src="../images/logo.png" alt="Logo">
            <div class="notification is-link">Make your Bets.</div>
            <form action="/action.php" method="get">
                <table class="table is-striped">
                    <tboby>
                        <tr class="has-text-weight-bold">
                            <td>DEALER</td>
                            <td>
                                {% for card in dealer.hand.cards %}
                                    <img width="100pt" src="{{ card.backside }}" alt="Card">
                                {% endfor %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Box</th>
                            <th>Hand</th>
                            <th>Bet</th>
                        </tr>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.name }}</td>
                                <td>
                                    {% for card in player.hand.cards %}
                                        <img width="100pt" src="{{ card.backside }}" alt="Card">
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="select">
                                        <label>
                                            <select name="bet{{ player.name }}">
                                                {% for i in bets %}
                                                    <option>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
                <div class="buttons">
                    <button class="button is-link" type="submit">Bet</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}