{% extends "base.html.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <img src="../images/logo.png" alt="Logo">
            <div class="notification is-link">Results</div>
            <form action="/newGame.php" method="get">
                <table class="table is-striped">
                    <tboby>
                        <tr class="has-text-weight-bold">
                            <td>DEALER</td>
                            <td>
                                {% for card in dealer.hand.cards %}
                                    <img width = "100pt" src="{{ card.image }}" alt="">
                                {% endfor %}
                            </td>
                            <td>{{ dealer.hand.value }}</td>
                            <td></td>
                            <td></td>
                            <td>
                                {% if dealer.hand.value == 21 %}
                                    <div class="notification is-success">Black Jack</div>
                                {% endif %}
                                {% if dealer.hand.value > 21 %}
                                    <div class="notification is-danger">Busted</div>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Box</th>
                            <th>Hand</th>
                            <th>Value</th>
                            <th>Bet</th>
                            <th>Win</th>
                            <th>Info</th>
                        </tr>
                        {% for player in players %}
                            <tr>
                                <td>{{ player.name }}</td>
                                <td>
                                    {% for card in player.hand.cards %}
                                        <img width = "100pt" src="{{ card.image }}" alt="">
                                    {% endfor %}
                                </td>
                                <td>{{ player.hand.value }}</td>
                                <td>{{ player.bet }}</td>
                                <td>{{ player.win }}</td>
                                <td>
                                    {% if player.hand.value == 21 %}
                                        <div class="notification is-success">Black Jack</div>
                                    {% endif %}
                                    {% if player.hand.value > 21 %}
                                        <div class="notification is-danger">Busted</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tboby>
                </table>
                <div class="buttons">
                    <button class="button is-link" type="submit">New Round</button>
                    <a href="/index.php" class="button is-link">New Game</a>
                </div>
                <table class="table is-striped">
                    <tbody>
                        <tr>
                            <th>Round</th>
                            {% for player in players %}
                                <th colspan="3">{{ player.name }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th></th>
                            {% for player in players %}
                                <th>Value</th>
                                <th>Bet</th>
                                <th>Win</th>
                            {% endfor %}
                        </tr>
                        {% for row in data %}
                            <tr>
                                {% for element in row %}
                                    <td>{{ element }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </section>
{% endblock %}