{% extends "base.html.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <img src="../images/logo.png" alt="Logo">
            <div class="notification is-link">Register players</div>
            <form action="/bet.php" method="get">
                <div class="columns">
                    <div class="column is-half">
                        {% for player in range(0, 6) %}
                            <div class="field">
                                <div class="control">
                                    <label>
                                        <input class="input" name="player{{ player }}" type="text" placeholder="Player {{ player + 1 }}">
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="buttons">
                            <button class="button is-link" type="submit">Start Game</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}